*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: block;
    background-color: rgba(128, 128, 128, 0.65);
}
.logo{
    display: inline-block;
    width: 100px;
}
.header-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-button{
    display: none;
}

.header-button ul{
    display: block;
    list-style: none;
    text-align: center;
}

.header-button ul li a{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    color:white;
    font-weight: bold;
    text-decoration: none;
}

.header-button ul li a:before{
    color:white;
    font-size: 1.2em;
}
#formulario-principal{
    width: 70vw;
    height: 70vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

 
}
#formulario-principal article{
    padding: 20px;
    height: 60%;
    border-radius: 5px;
    box-shadow: 5px 5px 9px 2px rgba(0,0,0,0.69);
}
#formulario-principal article form div{
    display: flex;
    flex-direction: column;
    margin: 10px;

 
}


@media (min-width: 720px) {
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .header-button{
        display: flex;
    }
    .header-button ul{
        display: flex;
        justify-content: space-around;
        padding-left: 10px;
      
    }
}